:root {
    --principal: #fa9b19;
    --principal-dim: hsla(35, 96%, 54%, 0.5);
    --secundaria: #D18D28;
    --cont-a: #7a6649;
    --cont-a-trans: rgba(122, 102, 73, 0.5);
    --cont-h: #19A3FA;

    --fonte-case: 'Literata', serif;
    --fonte-body: 'Solway', serif;

    --border-rad: 0 0 0 15px;
    --border-rad-top: 0 20px 0 0;
    --border-rad-2: 5px 5px 5px 15px;
    --border-rad-3: 5px 5px 15px 5px;
}

html {
    font-size: 1.1rem;
    font-family: var(--fonte-body);
}

@media screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        grid-gap: 1.5rem;
    }
}

/* ____________________ COMMON ________________ */

a {
    text-decoration: none;
    color: #000;
}

button {
    background-color: var(--secundaria);
    color: white;
    border: none;
    border-radius: var(--border-rad-2);

    font-size: 1.2rem;
    padding: .5rem 1rem;

    cursor: pointer;
}

button:hover {
    background-color: var(--cont-h);
}

* {
    transition: all .3s;
}

/* ____________________ HEADER ________________ */

header {
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 2rem 1.5rem;

    border-radius: var(--border-rad);
}

header h1 {
    font-family: var(--fonte-case);
    font-size: 2rem;
    font-weight: 600;
}

header h2 {
    margin-top: .5rem;
    margin-left: 1rem;
    letter-spacing: .1rem;
    font-variant: small-caps;
    font-weight: 500;
}

@media screen and (min-width: 1000px) {
    #header-title {
        margin-left: 9%;
        width: 100%;
    }
}

#menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: var(--border-rad-2);

    width: 300px;
    height: 300px;
}

#menu ul {
    gap: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#menu ul a {
    font-size: 1.6rem;
    font-variant: small-caps;
    width: 100%;
    text-align: center;
    border: 1px solid var(--secundaria);
    border-radius: var(--border-rad-2);
    padding: 1rem 0;
    background-color: white;
}

#menu-container i {
    font-size: 1.4rem;
    color: var(--cont-a);
    cursor: pointer;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    #menu-container {
        margin-right: 8%;
        position: relative;
    }

    #menu {
        display: flex;
        width: 100%;
        justify-content: end;
        margin-right: 2rem;
    }

    #menu ul {
        flex-direction: row;
        gap: 1.5rem;
        width: max-content;
    }

    #menu ul a {
        font-size: 1.2rem;
        font-variant: small-caps;
        width: max-content;
        background-color: transparent;
        border: none;
        text-decoration: underline solid var(--cont-a);
    }

    #menu ul a:hover {
        color: white;
        text-decoration: wavy underline var(--cont-a);
    }

    #burger {
        display: none;
    }
}

/* ____________________ SECTIONS ________________ */

section {
    padding: 25px;
}

h4 {
    margin-bottom: 10px;

    font-size: 1.3rem;
}

/* ____________________ FOOTER ________________ */
footer {
    margin-top: 7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: space-evenly;

    background-color: var(--principal);
    border-radius: var(--border-rad-top);
}

#contato {
    display: flex;
    gap: 1.5rem;
}

footer h4 {
    margin: 0;
    display: flex;
    align-items: center;

    font-size: 1.3rem;
}

.last-dot {
    font-size: 2.3rem;
    margin-left: 1rem;

    color: black;
}

#social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 2.3rem;
    margin-right: 2rem;
}

#social-icons a {
    background-color: white;
    color: var(--cont-a);
    padding: .5rem;
    height: 50px;
    width: 50px;
    border: 2px solid var(--cont-a);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-icons a:hover {
    background-color: var(--cont-h);
    border: 2px solid white;
    color: white;
}

@media screen and (min-width: 1000px) {
    footer {
        padding: 2rem 0;
        margin: 5rem auto auto auto;
    }

    #social-icons {
        flex-direction: row;
    }
}
