/* ____________________ SOBRE ________________ */
#sobre {

    padding-top: 4rem;
    padding-bottom: 3rem;
}

#sobre h3 {
    padding-right: 3rem;
    margin-left: .3rem;
    line-height: 1.4rem;

    font-weight: 300;
}

#sobre h3:first-of-type:first-letter {
    font-size: 1.9rem;
    margin-left: 1rem;
}

#sobre div {
    text-align: right;
    padding-top: 1rem;
    padding-right: 1.5rem;
}

#sobre div p {
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 2.3rem;
    margin-right: .7rem;
    color: var(--cont-a);
}

#sobre img {
    width: 170px;
    border-radius: 50%;

    margin-bottom: 1.6rem;
    margin-left: 1.7rem;
}


/* ____________________ SERVIÇOS ________________ */
#servicos-container {
    margin: 3rem 0 0 0;

    display: flex;
    flex-direction: column;

    max-width: max-content;
    min-width: 45%;
}

#servicos {
    padding: 2rem 1rem 2rem .2rem;
    border: 2px solid var(--secundaria);
    border-radius: var(--border-rad-3);
    max-width: max-content;
    min-width: 45%;
}

#servicos h4 {
    padding: .5rem 1rem .6rem 1rem;
    margin-left: 1rem;
    width: max-content;
    border-bottom: 1px solid var(--cont-a-trans);
}

#servicos details {
    padding: .3rem;
    margin: .4rem 0;
    background-color: white;
    cursor: pointer;
}

#servicos summary {
    font-weight: 200;
    padding: .6rem;
    list-style-type: '... ';
}

#servicos summary::marker {
    font-size: .8rem;
    color: var(--cont-a);
}

#servicos summary:hover {
    background-color: var(--cont-h);
    color: black;
    border-radius: var(--border-rad-3);
}

#servicos details[open] > summary {
    background-color: var(--cont-h);
    color: black;
    border-radius: var(--border-rad-3);
}

#servicos p {   
    font-weight: 300;
    padding: 1rem .4rem;
    line-height: 1.3rem;
}

#servicos-container a {
    align-self: center;
    margin-top: 1.6rem;
}

/* ____________________ BLOG ________________ */
#blog {
    margin-top: 6rem;
}

#last-post {
    width: 300px;

    margin-top: 1rem;

    margin: auto;
    margin-top: 1rem;
    padding: .5rem;

    border-top: 1px solid var(--cont-a-trans);
    border-bottom: 1px solid var(--cont-a-trans);
}

#title-blog {
    width: max-content;
    margin: auto;
}

#last-post h6 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: .7rem 0;
    text-align: center;
}

#last-post img {
    width: 300px;

    border-radius: 6px;
}

#last-post p {
    margin-top: .4rem;
    margin-bottom: .4rem;
    font-weight: 200;
    line-height: 1.2rem;

}

#last-post .last-w {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,232,255,0) 85%);
    background-clip: text;
    color: transparent;
}

#last-post .dots {
    font-size: 1.6rem;
    font-weight: 300;
    position: absolute;
    right: 4.5rem;   
    color: var(--cont-a);
}

#blog button {
    display: block;
    margin: auto;
    margin-top: 1.6rem;
}

#blog button a {
    color: white;
}
